.row1 {
  display: flex;
  justify-content: space-between;
}
.row2 {
  display: flex;
  justify-content: center;
}
.row3 {
  display: flex;
  justify-content: space-between;
}
.btn1 {
  rotate: -45deg;
}
.btn2 {
  rotate: 45deg;
}

.btn3 {
  rotate: -125deg;
}

.btn4 {
  rotate: 125deg;
}
